
<h1>Your Pirate:</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Height: <%= @pirate.height %> inches</h4>
  <h4>Weight: <%= @pirate.weight %> pounds</h4>
</div>

<h1><%= @pirate.name %>'s Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <h3>Name: <%= ship.name %></h3>
    <h4>Type: <%= ship.type %></h4>
    <h4>Booty: <%= ship.booty %></h4>
  </div>
<% end %>
